.reveal-monster {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 0 4px;
  padding: 4px;
}

.reveal-monster:hover {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px red;
}

.monster-info-window {
  background: rgba(0, 0, 0, 0.9);
  border: none;
  border-radius: 10px;
  padding: 0;
  opacity: 0.85;
}

.monster-info {
  padding: 10px;
}

.monster-header {
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
}

.monster-header img {
  width: 64px;
  height: 64px;
  object-fit: contain; /* Ensure the image scales down to fit within the square */
  border: none;
}

.monster-header h2 {
  margin: 0;
  color: #fff;
}

.monster-stats {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stat-row {
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #444;
  color: #fff;
}

.stat-roll {
  background: #4a4a4a;
  border: 1px solid #666;
  border-radius: 3px;
  color: #fff;
  padding: 2px 8px;
  cursor: pointer;
  transition: background 0.5s;
  opacity: 0.5;
  width: 100px; /* Set a fixed width */
  text-align: center;
}

.stat-roll:hover {
  background: #666;
}

.stat-roll i {
  margin-right: 5px;
}

.monster-info-window .window-header {
  display: flex;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.9);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.monster-info-window .window-content {
  background: rgba(0, 0, 0, 0.9);
  border: none;
  padding: 0;
  border-radius: 0 0 10px 10px;
}
